@charset "utf-8";
html {
    background-color: #3D0606;
}

body {
    margin-left: auto; /*centers block elements*/
    margin-right: auto; /*centers block elements*/
    width: 100%;
    max-width: 1200px;
    min-width: 500px;
    max-height: 100%;
    background-color: #FFFFFF ;
    font-family: Verdana, Geneva, sans-serif;  
}
/*Header*/
 header > #pagetop {
    background-color:#FF1D1D;
    margin: auto;
    padding: 1em;
    color:#FFFFFF;
    width: 100%
}

.hours {
    float: left;
}
.contactinfo {
    float: right;
    color:#FFFFFF;
}

#pagetop::after { /*prevents the container from collapsing*/
    clear: both;
    content:"";
    display: table;
}



.logo {
    display: block;
    width: 50%;
    margin-left: auto; /*centers block elements*/
    margin-right: auto; /*centers block elements*/
}

/*Welcome Message*/
.Welcome {
    text-align: center;  
    font-size: 2em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    color: #38B6FF;
    font-style: italic;
    
}

/*Carousel Styling*/
.img-responsive {
    width: 60%;
    
}

/*Footer and Vertical Navigation*/
footer {
    background-color: #38B6FF;  
}

ul li
{
    list-style-type: none;
}

footer > nav.verticalNavigation {
    float: left;
    width: 35%;
}

footer > section#contactInfo {
    float: left;
    width: 30%;
}

footer::after{
    clear:both;
    content:"";
    display: table;
}


